<html>
<head>
    <title>Library Page</title>
</head>
<style>
    .required::before{color: rgb(245, 15, 15); content: " *";}
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>
<h1>Welcome to Library Page</h1><br>
<form method="post" action="{% url 'home_page' %}">
    {% csrf_token %}
    {% if single_book %}
    <label >Book ID:- </label>
    <input type="text" name="book_id" value = "{{ single_book.id }}" readonly ><br><br>
    {% endif %}
    <label class="required">Name :-</label>
        <input type="text" name="book_name" value="{{single_book.name}}" required><br><br>
    <label class="required"> Author :-</label>
        <input type="text" name="book_author" value="{{single_book.author}}" required><br><br>
    <label class="required"> Price :-</label>
        <input type="number" name="book_price" value="{{single_book.price}}" required><br><br>
    <label class="required">  Quantity :-</label>
        <input type="number" name="book_quantity" value="{{single_book.qty}}" required><br><br>
{% if single_book %}
    {% if single_book.is_published == True %}
    Is_Published :- Yes<input type="radio" name="book_published" value="yes" checked>  No <input type="radio" name="book_published" value="No"><br><br>
    {% else %}
    Is_Published :- Yes<input type="radio" name="book_published" value="yes">  No <input type="radio" name="book_published" value="No" checked ><br><br>
       {% endif %}

       {% else %}
    Is_Published :- Yes<input type="radio" name="book_published" value="yes">  No <input type="radio" name="book_published" value="No"><br><br>

    {% endif %}

    <input type = "submit" class="btn btn-primary" value="Create Book" name="create_book"><br><br>
        <!-- {{per_name}}    calling context from views.py -->

</form>
<a href="/showbook/" class="btn btn-danger">Show Active book</a>   
<a href="/inactivebook/" class = "btn btn-warning">Show Inactive book</a>   
<a href="/logout/" class = "btn btn-primary">Logout</a>   



<!-- Choose a car:

<select name="car" multiple>
    <option>Select</option>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select><br><br> -->

<!-- <a href="{% url 'book_page' %}">Show Book</a><br><br> -->



</body>

















</html>